# Dependencies
**/node_modules

# Build outputs
/dist
packages/app-shell/dist
packages/home-mfe/dist
packages/catalog-mfe/dist
packages/cart-mfe/dist

# Vite cache
**/.vite

# OS
.DS_Store

# Lighthouse CI
.lighthouseci/